  <nav>
    <div class="nav-wrapper red darken-4">
      <a href="/" ><%= image_tag ("rail-logo.png"), class: "brand-logo" %> 
      </a> 
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li> <%= link_to "Home", pages_home_path %></li>
        <li> <%= link_to "About", pages_about_path %></li>
        <li> <%= link_to "Contact", pages_contact_path %></li>
      </ul>
    </div>
  </nav>